<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hop Hooray : About Hop Hooray</title>
    <style>
        .h1 {
            margin-left: 60px;
            font: AlternateGotNo3D;
            font-family: AlternateGotNo3D;
            font-size: 100;
        }

        .h3 {
            margin-left: 60px;
            font: AlternateGotNo3D;
            font-family: AlternateGotNo3D;
            font-size: 20;
        }

        .body {
            font: AlternateGotNo3D;
            font-family: AlternateGotNo3D;
            background-color: #F3FBD9;
        }
    </style>
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'hophooray/favicon.ico'%}"/>
</head>
{% include "basemenu2.html" %}
{% block content %}
<h1 class="h1">ABOUT HOP HOORAY</h1>
<body class="body">
</p>
</br>
<h3 class="h3">
Dear Visitor,</p></p></br>Welcome to my application. You should be a real beer fan, once you have landed on this page.</p>Just like me.</p>And you would love to keep track of your favourite beverage at home, like I do.</p>
Well, you are at the right place.</p>Hop Hooray is probably the simplest web application to keep track of your beer inventory.</p>Just log in and upload what you have in your fridge and be aware of your stock anytime.
</p>
<p>
</br>
Cheers!
</p>
</br>
<p>
Gábor Benke
</h3>
</p>
</body>    
{% endblock %}
</html>
